In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

In [5]:
df = pd.read_csv('data/2019.csv')[['Country or region','Score']]
df['Lat'] = ''
df['Lng'] = ''
df.head()

  Country or region  Score Lat Lng
0           Finland  7.769
1           Denmark  7.600
2            Norway  7.554
3           Iceland  7.494
4       Netherlands  7.488

In [6]:
geo = Nominatim(user_agent='World_Happiness')

In [7]:
geo.geocode('Finland').latitude

63.2467777

In [17]:
for index, row in df.iterrows():
    address = row['Country or region']
    try:
        print(f'Processing record {index} | {address}')
        df.loc[index, 'Lat'] = geo.geocode(address).latitude
        df.loc[index, 'Lng'] = geo.geocode(address).longitude
    except:
        print(f'{address} not found. Skipping....')
        pass
df

Processing record 0 | Finland
Processing record 1 | Denmark
Processing record 2 | Norway
Processing record 3 | Iceland
Processing record 4 | Netherlands
Processing record 5 | Switzerland
Processing record 6 | Sweden
Processing record 7 | New Zealand
Processing record 8 | Canada
Processing record 9 | Austria
Processing record 10 | Australia
Processing record 11 | Costa Rica
Processing record 12 | Israel
Processing record 13 | Luxembourg
Processing record 14 | United Kingdom
Processing record 15 | Ireland
Processing record 16 | Germany
Processing record 17 | Belgium
Processing record 18 | United States
Processing record 19 | Czech Republic
Processing record 20 | United Arab Emirates
Processing record 21 | Malta
Processing record 22 | Mexico
Processing record 23 | France
Processing record 24 | Taiwan
Processing record 25 | Chile
Processing record 26 | Guatemala
Processing record 27 | Saudi Arabia
Processing record 28 | Qatar
Processing record 29 | Spain
Processing record 30 | Panama
Processing record 31 | Brazil
Processing record 32 | Uruguay
Processing record 33 | Singapore
Processing record 34 | El Salvador
Processing record 35 | Italy
Processing record 36 | Bahrain
Processing record 37 | Slovakia
Processing record 38 | Trinidad & Tobago
Processing record 39 | Poland
Processing record 40 | Uzbekistan
Processing record 41 | Lithuania
Processing record 42 | Colombia
Processing record 43 | Slovenia
Processing record 44 | Nicaragua
Processing record 45 | Kosovo
Processing record 46 | Argentina
Processing record 47 | Romania
Processing record 48 | Cyprus
Processing record 49 | Ecuador
Processing record 50 | Kuwait
Processing record 51 | Thailand
Processing record 52 | Latvia
Processing record 53 | South Korea
Processing record 54 | Estonia
Processing record 55 | Jamaica
Processing record 56 | Mauritius
Processing record 57 | Japan
Processing record 58 | Honduras
Processing record 59 | Kazakhstan
Processing record 60 | Bolivia
Processing record 61 | Hungary
Processing record 62 | Paraguay
Processing record 63 | Northern Cyprus
Processing record 64 | Peru
Processing record 65 | Portugal
Processing record 66 | Pakistan
Processing record 67 | Russia
Processing record 68 | Philippines
Processing record 69 | Serbia
Processing record 70 | Moldova
Processing record 71 | Libya
Processing record 72 | Montenegro
Processing record 73 | Tajikistan
Processing record 74 | Croatia
Processing record 75 | Hong Kong
Processing record 76 | Dominican Republic
Processing record 77 | Bosnia and Herzegovina
Processing record 78 | Turkey
Processing record 79 | Malaysia
Processing record 80 | Belarus
Processing record 81 | Greece
Processing record 82 | Mongolia
Processing record 83 | North Macedonia
Processing record 84 | Nigeria
Processing record 85 | Kyrgyzstan
Processing record 86 | Turkmenistan
Processing record 87 | Algeria
Processing record 88 | Morocco
Processing record 89 | Azerbaijan
Processing record 90 | Lebanon
Processing record 91 | Indonesia
Processing record 92 | China
Processing record 93 | Vietnam
Processing record 94 | Bhutan
Processing record 95 | Cameroon
Processing record 96 | Bulgaria
Processing record 97 | Ghana
Processing record 98 | Ivory Coast
Processing record 99 | Nepal
Processing record 100 | Jordan
Processing record 101 | Benin
Processing record 102 | Congo (Brazzaville)
Processing record 103 | Gabon
Processing record 104 | Laos
Processing record 105 | South Africa
Processing record 106 | Albania
Processing record 107 | Venezuela
Processing record 108 | Cambodia
Processing record 109 | Palestinian Territories
Processing record 110 | Senegal
Processing record 111 | Somalia
Processing record 112 | Namibia
Processing record 113 | Niger
Processing record 114 | Burkina Faso
Processing record 115 | Armenia
Processing record 116 | Iran
Processing record 117 | Guinea
Processing record 118 | Georgia
Processing record 119 | Gambia
Processing record 120 | Kenya
Processing record 121 | Mauritania
Processing record 122 | Mozambique
Processing record 123 | Tunisia
Processing record 124 | Bangladesh
Processing record 125 | Iraq
Processing record 126 | Congo (Kinshasa)
Processing record 127 | Mali
Processing record 128 | Sierra Leone
Processing record 129 | Sri Lanka
Processing record 130 | Myanmar
Processing record 131 | Chad
Processing record 132 | Ukraine
Processing record 133 | Ethiopia
Processing record 134 | Swaziland
Processing record 135 | Uganda
Processing record 136 | Egypt
Processing record 137 | Zambia
Processing record 138 | Togo
Processing record 139 | India
Processing record 140 | Liberia
Processing record 141 | Comoros
Processing record 142 | Madagascar
Processing record 143 | Lesotho
Processing record 144 | Burundi
Processing record 145 | Zimbabwe
Processing record 146 | Haiti
Processing record 147 | Botswana
Processing record 148 | Syria
Processing record 149 | Malawi
Processing record 150 | Yemen
Processing record 151 | Rwanda
Processing record 152 | Tanzania
Processing record 153 | Afghanistan
Processing record 154 | Central African Republic
Processing record 155 | South Sudan

            Country or region  Score      Lat      Lng
0                     Finland  7.769  63.2468  25.9209
1                     Denmark  7.600  55.6702  10.3333
2                      Norway  7.554     60.5  9.09997
3                     Iceland  7.494  64.9842 -18.1059
4                 Netherlands  7.488  52.5002  5.74808
..                        ...    ...      ...      ...
151                    Rwanda  3.334 -1.96466  30.0644
152                  Tanzania  3.231 -6.52471  35.7878
153               Afghanistan  3.203   33.768  66.2385
154  Central African Republic  3.083  7.03236  19.9981
155               South Sudan  2.853  7.86994  29.6668

[156 rows x 4 columns]

In [18]:
df.to_csv('data/heatmap_data.csv')