In [1]:
# Project 1: World Happiness

In [2]:
# Import Dependencies
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
# Import and read .csv file
happiness_data_2015 = pd.read_csv("data/2015.csv")
happiness_data_2016 = pd.read_csv("data/2016.csv")
happiness_data_2017 = pd.read_csv("data/2017.csv")
happiness_data_2018 = pd.read_csv("data/2018.csv")
happiness_data_2019 = pd.read_csv("data/2019.csv")


# combined_data = pd.merge(happiness_data_2015, happiness_data_2016, on ="Country")
# combined_data.head()

happiness_data_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [19]:
happiness_data_2015.insert(0, "Year", "2015", True) 
# del happiness_data_2015["Year"]

# del happiness_data_2015["Year"]
happiness_data_2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1, inplace=True)
happiness_data_2015.rename({'Happiness Rank':'Overall rank', 
                           'Country':'Country or region', 
                           'Happiness Score': 'Score', 
                           'Economy (GDP per Capita)': 'GDP per capita', 
                           'Family':'Social support', 
                           'Health (Life Expectancy)':'Healthy life expectancy', 
                           'Freedom':'Freedom to make life choices', 
                           'Trust (Government Corruption)':'Perceptions of corruption'}, axis=1, inplace=True)





happiness_data_2015.head()

,Year,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [24]:
happiness_data_2016.insert(0, "Year", "2016", True) 
# del  happiness_data_2016["Year"]
happiness_data_2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
happiness_data_2016.rename({'Happiness Rank':'Overall rank', 
                           'Country':'Country or region', 
                           'Happiness Score': 'Score', 
                           'Economy (GDP per Capita)': 'GDP per capita', 
                           'Family':'Social support', 
                           'Health (Life Expectancy)':'Healthy life expectancy', 
                           'Freedom':'Freedom to make life choices', 
                           'Trust (Government Corruption)':'Perceptions of corruption'}, axis=1, inplace=True)
happiness_data_2016.head()

,Year,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2016,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2016,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,2016,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,2016,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,2016,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [25]:
happiness_data_2017.insert(0, "Year", "2017", True)

happiness_data_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)
happiness_data_2017.rename({'Happiness.Rank':'Overall rank', 
                           'Country':'Country or region', 
                           'Happiness.Score': 'Score', 
                           'Economy..GDP.per.Capita.': 'GDP per capita', 
                           'Family':'Social support', 
                           'Health..Life.Expectancy.':'Healthy life expectancy', 
                           'Freedom':'Freedom to make life choices', 
                           'Trust..Government.Corruption.':'Perceptions of corruption'}, axis=1, inplace=True)
happiness_data_2017.head()

,Year,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [ ]:
happiness_data_2018.insert(0, "Year", "2018", True)
happiness_data_2019.insert(0, "Year", "2019", True)

In [28]:
happiness_data = pd.concat([happiness_data_2019, happiness_data_2018, happiness_data_2017, happiness_data_2016, happiness_data_2015])
# happines_data.drop(['Overall rank', 'Country or region'], axis=1, inplace=True)
happiness_data.head(800)

,Year,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,1,Finland,7.769,1.34000,1.58700,0.98600,0.59600,0.15300,0.39300
1,2019,2,Denmark,7.600,1.38300,1.57300,0.99600,0.59200,0.25200,0.41000
2,2019,3,Norway,7.554,1.48800,1.58200,1.02800,0.60300,0.27100,0.34100
3,2019,4,Iceland,7.494,1.38000,1.62400,1.02600,0.59100,0.35400,0.11800
4,2019,5,Netherlands,7.488,1.39600,1.52200,0.99900,0.55700,0.32200,0.29800
...,...,...,...,...,...,...,...,...,...,...
153,2015,154,Rwanda,3.465,0.22208,0.77370,0.42864,0.59201,0.22628,0.55191
154,2015,155,Benin,3.340,0.28665,0.35386,0.31910,0.48450,0.18260,0.08010
155,2015,156,Syria,3.006,0.66320,0.47489,0.72193,0.15684,0.47179,0.18906
156,2015,157,Burundi,2.905,0.01530,0.41587,0.22396,0.11850,0.19727,0.10062
157,2015,158,Togo,2.839,0.20868,0.13995,0.28443,0.36453,0.16681,0.10731